.subscription-step {
  border: 2px solid black;

  &__header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    background-color: $light-gray;
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
    color: white;

    cursor: pointer;
    &:hover {
      background-color: rgb(255, 125, 0);
      color: black;
    }

    &--disabled {
      cursor: not-allowed;
      &:hover {
        background-color: $light-gray;
        color: white;
      }
    }

    &--active {
      cursor: pointer;
      background-color: rgb(255, 125, 0);
      color: black;
    }
  }

  &__body {
    padding: 15px;
  }
}