.title-box-layout {
  position: relative;
  border: 1px solid black;
  background-color: white;
  padding: 10px;

  &__title {
    background-color: white;
    position: absolute;
    left: 15px;
    top: 0;
    padding: 0 4px;
    transform: translateY(-50%);
    color: black;
    font-weight: bold;
  }
}