.stock-management {
  &__rules {
    margin: 15px 0;
  }

  &__papers {
    margin-top: 15px;
  }

  &__table-title {
    align-items: flex-end;
    display: flex;
  }

  &__title {
    margin-right: auto;
  }

  &__table {
    margin-top: 10px;
  }
}