.worktime-recording {
  &__description {
    margin: auto;
  }

  &__start {
    margin-top: 15px;
    text-align: center;
  }

  &__time-unrecord {
    margin: 25px auto 0;
    width: 50%;
  }

  &__add-checkout {
    display: inline-block;
    margin-left: 45px;
  }

  &__save-checkout {
    margin-left: 5px;
  }
}