.u-middle-center-pos-a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.u-pos-a {position: absolute !important;}
.u-pos-re {position: relative !important;}
