// Font Size
$font-size--root: 62.5% !default;
$font-size--rem: 10px !default;
$font-size--base: 14px !default;

$font-size--h1:            floor(($font-size--base * 2.6)) !default; // ~36px
$font-size--h2:            floor(($font-size--base * 2.15)) !default; // ~30px
$font-size--h3:            ceil(($font-size--base * 1.7)) !default; // ~24px
$font-size--h4:            ceil(($font-size--base * 1.25)) !default; // ~18px
$font-size--h5:            $font-size--base !default;
$font-size--h6:            ceil(($font-size--base * 0.85)) !default; // ~12px

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Line Height
$line-height--base:      20px/14px !default;
