.sales-statistics, .printing-sales {
  &__content {
    padding: 15px;
    width: 600px;
    margin: auto;

    .title-box-layout {
      padding: 30px;
    }
  }
}

.static-chart {
  &__img {
    width: 800px;
    margin: auto;  
  }
}